*{
    background-color: rgb(22, 175, 180);
}
.container{
    margin: 0px;
    background-color: rgb(143, 134, 134);
    width: 1000px;
    height: 300px;



    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px;
    row-gap: 30px;
    column-gap: 20px;
}
.item-1{
    background-color: rgb(255, 10, 10);
}
.item-2{
    background-color: rgb(235, 135, 5);
}
.item-3{
    background-color: rgb(228, 224, 13);
}
.item-4{
    background-color: rgb(37, 216, 21);
}

.item-5{
    background-color: rgba(53, 29, 161, 0.363);
}
.item-6{
    background-color: rgb(198, 32, 204);
}
